<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <title>Blueskies Bot help</title>
        {% load static %}
        <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
        <style>
            .btn-groupcss .buttoncss {background-color: transparent; border: none; color: black; width: 25%;  height: 70px;  text-align: center; text-decoration: none; display: inline-block; font-size: 22px; cursor: pointer; float: left;}
        </style>
    </head>
    <body>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
            <nav class="navbar navbar-expand-xl navbar-light bg-light" style="background-color: #517a96;">
                <div class="container-fluid container">
                    <a class="navbar-brand" href="/home">
                        {% load static %}
                        <img src="{% static 'images/favicon.ico %}" width="50" height="50" class="rounded-circle"> <span>SkyBot</span>
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="nabvarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="nabvarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <a class="nav-item nav-link" href="https://github.com/AloneInSky/Blueskies" target="_blank"> <span style="color:blue">Sugest commands</span> </a>
                            <a class="nav-link nav-item" href="https://discord.gg/s4bQv6Hw8y" target="_blank"> <span style="color:blue">Discord server</span> </a>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Supports</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="#">Support Channel</a></li>
                                    <li><a class="dropdown-item" href="#">FAQ</a></li>
                                    <li><a class="dropdown-item" href="#">Developer Github</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="d-flex ml-auto" id="headerlogin">
                        <a class="nav-item nav-link btn btn-outline-secondary login" style="list-style: none;" href="/login">Login</a>
                    </div>
                </div>
            </nav>
            <div class="container-fluid container text-center bg-transparent mt-5">
                <img src="/static/images/favicon.ico" width="150" height="150" class="rounded-circle" class="img-fluid" >
                <p class="lead ltext mt-3"><h3>More Powerful and Multiporpose<br>Discord bot you have seen</h3></p>
            </div>
            <div class="btn-groupcss jumbotron mt-5">
                <a href=""><button class="buttoncss">Commands</button></a>
                <a href="https://discord.gg/N6PMzaNfbR" target="_blank"><button class="buttoncss">Support</button></a>
                <a href="https://discord.com/api/oauth2/authorize?client_id=887701904992370718&permissions=8&scope=bot%20applications.commands" target="_blank"><button class="buttoncss">Invite</button></a>
                <a href="/suggest"><button class="buttoncss">Suggest</button></a>
            </div>
            <div class="jumbotron ">&nbsp;</div>
            <div class="container-fluid container text-center bg-transparent ">
                <div class="container container-fluid"></div>
                <p class="fs-3 ">Why must SkyBot ?!?!.<br>Because we provide best feature for you !</p>
                </div>
            </div>
            <div class="card-group mt-3">
                <div class="card">
                    <div class="card-body text-center border-info ">
                        <h3 class="card-title">99.9% Online 🚀</h3>
                        <p class="card-text fs-4">We keep our bot hosted oncloud for 24/7 with bug fixes regularly.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body text-center border-info">
                        <h3 class="card-title">Easy to Set 🔧</h3>
                        <p class="card-text fs-4">We made our bot with ease of use that makes new users can enjoy it right away after inviting it.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body text-center border-info">
                        <h3 class="card-title">Secured 🔓</h3>
                        <p class="card-text fs-4">We made our bot with MongoDB database that secured in the cloud.</p>
                    </div>
                </div>
            </div>
            <footer class="bg-light text-center text-lg-start mt-5"></footer>
                <div class="container p-4">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                            <h5 class="text-uppercase"><p class="fs-5">SkyBot</p></h5>
                        <p class="fs-6">
                            SkyBot was a Python Discord Bot from 15 September 2021. Starting from Youtube shutdown Groovy until Rythm,
                            making us changed our mind from Music Bot to this Multiporpose Bot
                        </p>
                        </div>
                        <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                            <h5 class="text-uppercase"><p class="fs-5">Made With :</p></h5>
                            <ul class="list-unstyled mb-0">
                                <li><a href="https://www.python.org/" target="_blank" class="text-black"><p class="fs-6">Python</p></a></li>
                                <li><a href="https://www.djangoproject.com/" target="_blank" class="text-black"><p class="fs-6">Django</p></a></li>
                                <li><a href="https://getbootstrap.com/" target="_blank" class="text-black"><p class="fs-6">Bootstrap 5</p></a></li>
                            </ul>
                        </div>                  
                    </div>
                </div>
                <div class="text-center p-3" style="background-color: transparent;">
                    © 2021-2022 Copyright: <a class="text-dark" href="/home">AloneInSky</a>
                </div>
            </footer>
        </script>
    </body>
</html>
